@import "tailwindcss";

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1600px;
    --color-primary: #F4FBF8;
    --color-accent1: #E0FFF2;
    --color-accent2: #BFEEEE;
    --color-accent3: #C3FFE2;
    --color-accent4: #81CFAA;
    --color-accent5: #69CDFF;
    --color-accent6: #97DCFF;
    --color-button1: #287094;
    --color-button1light: #338EBC;
    --color-button1dark: #1F5C73;

    --color-textboxbg: #F2F2F2;
    --color-textboxborder: #E7E7E7;
}

.left-rectangle {
    position: absolute;
    top: -20%;
    left: -60%;
    width: 150%;
    height: 50%;
    rotate: -35deg;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 480px) {
    .left-rectangle {
        top: -20%;
        left: -30%;
        width: 130%;
        height: 40%;
        rotate: -30deg;
    }
}

@media (min-width: 768px) {
    .left-rectangle {
        top: -20%;
        left: -30%;
        width: 130%;
        height: 40%;
        rotate: -25deg;
    }
}

@media (min-width: 976px) {
    .left-rectangle {
        top: -20%;
        left: -30%;
        width: 130%;
        height: 40%;
        rotate: -20deg;
    }
}

@media (min-width: 1600px) {
    .left-rectangle {
        top: -22%;
        left: -30%;
        width: 130%;
        height: 40%;
        rotate: -17deg;
    }
}


.right-rectangle {
    position: absolute;
    top: -20%;
    right: -80%;
    width: 150%;
    height: 50%;
    rotate: 50deg;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 480px) {
    .right-rectangle {
        top: -20%;
        right: -80%;
        width: 150%;
        height: 50%;
        rotate: 45deg;
    }
}

@media (min-width: 768px) {
    .right-rectangle {
        top: -20%;
        right: -80%;
        width: 150%;
        height: 50%;
        rotate: 40deg;
    }
}

@media (min-width: 976px) {
    .right-rectangle {
        top: -20%;
        right: -75%;
        width: 150%;
        height: 50%;
        rotate: 35deg;
    }
}

@media (min-width: 1600px) {
    .right-rectangle {
        top: -15%;
        right: -70%;
        width: 150%;
        height: 50%;
        rotate: 30deg;
    }
}

.bottom-rectangle {
    position: absolute;
    bottom: -70%;
    left: -50%;
    width: 150%;
    height: 100%;
    rotate: 20deg;
    transition: all 0.5s ease-in-out;
}